/* workaround for the NA in leaflet legend see https://github.com/rstudio/leaflet/issues/615 */
.leaflet-control div:last-child {clear: both;}

.info {
  line-height: 100px;
  font: 20px/20px Arial, Helvetica, sans-serif;
  color: white;
  background: #343a40;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend svg text {
  fill: white;
  font-size: 20px;
}

.leaflet-container .leaflet-control-attribution {
  background: #343a40;
}

.leaflet-container a {
  color: black;
}

#drill_down {
  font-size: 20px;
}

#drill_up {
  font-size: 20px;
}


