.navbar {
  background-color: #3d9a2b;
}


.fa-lg {
  background-color: #4b4949;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #4b4949;
}

a {
  color: #3d9a2b;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #4b4949;
}

.label-default {
  background-color: #3d9a2b;
  color: #ffffff;
}
